
.image img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.btn-group a {
  width: 74px;
  padding: 5px;
}

.caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;;
}

div.user-profile {
  padding-top: 10px;
  padding-right: 5px;
}
