<script type="text/javascript">
    function changeMaker() {

    }
</script>

{{# if success}}
    <script>
        window.alert("Thêm sản phẩm thành công");
    </script>
{{/if}}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><b> Thêm sản phẩm mới </b></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{{message}}}
                    <br>
                    <!--novalidate="" enctype="multipart/form-data" class="form-horizontal form-label-left"  novalidate=""  enctype="multipart/form-data"-->
                    <form method="POST" action="/admin/add-new-product" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        <h2 style="margin-left: 9%; color:red;"> Thông tin sản phẩm </h2>
                        <!-- Tên sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp"> Tên sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="tensp" name="tensp" required="true" class="form-control col-md-7 col-xs-12">              </div>
                        </div>

                        <!-- Hãng sản xuất -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hangsanxuat"> Hãng sản xuất
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- <input type="text" id="hangsanxuat" name="hangsanxuat" required="required" class="form-control col-md-7 col-xs-12"> -->
                                <div class="dropdown-plans">
                                    <select id="hangsanxuat" name="hangsanxuat">
                                        {{#each makers}}
                                            <option value="{{this._id}}">{{this.nameMaker}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Giá bán -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="giaban"> Giá bán
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" min="1" id="giaban" name="giaban" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Số lượng -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="soluong"> Số lượng
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" min="1" id="soluong" name="soluong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <h2 style="margin-left: 10%; color:red;"> Thông số kỹ thuật </h2>
                        <!-- Kích thước sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kichthuocsp"> Kích thước sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="kichthuocsp" name="kichthuocsp" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Kích thước màn hình -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kickthuocmh"> Kích thước màn hình
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="kichthuocmh" name="kichthuocmh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Hệ điều hành -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hedieuhanh"> Hệ điều hành
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="hedieuhanh" name="hedieuhanh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Vi xử lý -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vixuly"> Vi xử lý
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="vixuly" name="vixuly" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Bộ nhớ trong -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhotrong"> Bộ nhớ trong
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" min="8" id="bonhotrong" name="bonhotrong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- RAM -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhoram"> Bộ nhớ RAM
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" min="1" value="{{product.specification.ram}}" id="bonhoram" name="bonhoram" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera trước -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cameratruoc"> Camera trước
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="cameratruoc" name="cameratruoc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera sau -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="camerasau"> Camera sau
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="camerasau" name="camerasau" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Dung lượng pin -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dungluongpin"> Dung lượng pin
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="dungluongpin" name="dungluongpin" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Kết nội -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ketnoi"> Kết nối
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="ketnoi" name="ketnoi" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Ảnh minh họa -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ảnh minh họa
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" accept=".jpg" id="imgmain" name="imgmain" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra1" name="imgExtra1" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra2" name="imgExtra2" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra3" name="imgExtra3" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                            </div>
                        </div>

                        <!-- Kết thúc form -->
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                            <button class="btn btn-warning" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
