<script type="text/javascript">
    function changeActive() {
        document.getElementById('customerStatus').value = true;
        document.getElementById('form-change-status').submit();
    };
    function changeInactive() {
        document.getElementById('customerStatus').value = false;
        document.getElementById('form-change-status').submit();
    };
</script>

<form id="form-change-status" method="post" action="/admin/customer-update-status">
    <input name="customerID" id="customerID" type="hidden" value="{{customer._id}}"/>
    <input name="customerStatus" id="customerStatus" type="hidden" />
</form>

<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3 style="display: inline;margin-right: 20px"> Thông tin người dùng </h3>
                <div class="btn-group" style="margin-bottom: 10px">
                        {{#if customer.isAuthenticated}}
                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-sm" type="button" aria-expanded="false">
                            Hoạt động
                            <span class="caret"></span>
                        </button>
                        {{else}}
                        <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle btn-sm" type="button" aria-expanded="false">
                            Vô hiệu hóa
                            <span class="caret"></span>
                        </button>
                        {{/if}}
                        <ul role="menu" class="dropdown-menu">
                            <li><a onclick="changeActive()" href="#">Hoạt động</a>
                            </li>
                            <li><a onclick="changeInactive()" href="#">Vô hiệu hóa</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th style="width:20%">Họ tên:</th>
                                    <td>{{customer.fullname}}</td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>{{# if customer.gender}}Nam{{else}}Nữ{{/if}}</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ giao hàng</th>
                                    <td>{{customer.address}}</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td>{{customer.phone}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{customer.email}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
