<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3> Quản lý người dùng</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <form method="post" action="customer-search">
                        <div class="input-group">
                            <input type="text" name="searchEmail" class="form-control" placeholder="Nhập email">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Tìm kiếm</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <col width="30%">
                            <col width="30%">
                            <col width="20%">
                            <col width="20%">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Email</th>
                                <th class="column-title">Tên người dùng</th>
                                <th class="column-title">Trạng thái</th>
                                <th class="column-title no-link last"><span class="nobr"></span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {{# each customers}}
                            {{#ifCond this.role '!=' 'admin'}}
                            <tr class="even pointer">
                                <td class=" ">{{this.email}}</td>
                                <td class=" ">{{this.fullname}}</td>
                                {{#if this.isAuthenticated}}
                                    <td><button class="btn btn-success">Hoạt động</button></td>
                                {{else}}
                                    <td><button class="btn btn-danger">Vô hiệu hóa</button></td>
                                {{/if}}

                                <td class=" last"><a href="/admin/customer-detail/{{this._id}}">Xem chi tiết</a>
                                </td>
                            </tr>
                            {{/ifCond}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
