<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><b> Chỉnh sửa thông tin sản phẩm: {{product.productName}} </b></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="form-suasp" method="post" action="/admin/edit-product" class="form-horizontal form-label-left" novalidate="" enctype="multipart/form-data">
                        <h2 style="margin-left: 9%; color:red;"> Thông tin sản phẩm </h2>
                        <!-- Tên sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp"> Tên sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.productName}}" id="tensp" name="tensp" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Hãng sản xuất -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hangsanxuat"> Hãng sản xuất
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- <input type="text" id="hangsanxuat" name="hangsanxuat" required="required" class="form-control col-md-7 col-xs-12"> -->
                                <select id="hangsanxuat" name="hangsanxuat">
                                    {{#each makers}}
                                        {{#ifCond this.nameMaker '==' product.maker.nameMaker}}
                                            <option selected value="{{this.nameMaker}}">{{this.nameMaker}}</option>
                                        {{else}}
                                            <option value="{{this.nameMaker}}">{{this.nameMaker}}</option>
                                        {{/ifCond}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <!-- Giá bán -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="giaban"> Giá bán
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="number" min="1" value="{{product.price}}" id="giaban" name="giaban" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Số lượng -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="soluong"> Số lượng
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="number" min="1" value="{{product.quantity}}" id="soluong" name="soluong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <h2 style="margin-left: 10%; color:red;"> Thông số kỹ thuật </h2>
                        <!-- Kích thước sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kichthuocsp"> Kích thước sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.size}}" id="kichthuocsp" name="kichthuocsp" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Kích thước màn hình -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kichthuocmh"> Kích thước màn hình
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.monitor}}" id="kichthuocmh" name="kichthuocmh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Hệ điều hành -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hedieuhanh"> Hệ điều hành
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.operatingSystem}}" id="hedieuhanh" name="hedieuhanh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Vi xử lý -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vixuly"> Vi xử lý
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.cpu}}" id="vixuly" name="vixuly" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Bộ nhớ trong -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhotrong"> Bộ nhớ trong
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="number" min="8" value="{{product.specification.internalMemory}}" id="bonhotrong" name="bonhotrong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- RAM -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhoram"> Bộ nhớ RAM
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="number" min="1" value="{{product.specification.ram}}" id="bonhoram" name="bonhoram" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera trước -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cameratruoc"> Camera trước
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.frontCamera}}" id="cameratruoc" name="cameratruoc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera sau -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="camerasau"> Camera sau
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.backCamera}}" id="camerasau" name="camerasau" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Dung lượng pin -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dungluongpin"> Dung lượng pin
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.pin}}" id="dungluongpin" name="dungluongpin" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Ảnh minh họa -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ảnh minh họa
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" accept=".jpg" id="imgmain" name="imgmain" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra1" name="imgExtra1" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra2" name="imgExtra2" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                <input type="file" accept=".jpg" id="imgExtra3" name="imgExtra3" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                            </div>
                        </div>

                        <!-- Kết thúc form -->
                        <div class="ln_solid"></div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">-->
                            <!--<button type="submit" class="btn btn-primary">Thêm mới</button>-->
                            <!--<button class="btn btn-warning" type="reset">Reset</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="/admin/product-view" class="btn btn-info">Quay lại</a>
                                    <button type="submit" class="btn btn-warning">Sửa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
