<div class="right_col" role="main">
    {{#if user}}
        <h1>Chào mừng {{user.username}} quay trở lại !!!</h1>
    {{else}}
        <h1>Bạn là khách, vui lòng đăng nhập hoặc đăng ký để sử dụng hết chức năng</h1>
    {{/if}}
</div>
