<form method="post" action="/admin/login">
    <h1>Đăng nhập</h1>
    {{#if message}}
        <p class="alert-danger">{{message}}</p>
    {{/if}}
    <div>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required=""/>
    </div>
    <div>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required=""/>
    </div>
    <div>
        <button type="submit" class="btn btn-default submit">Log in</button>
    </div>

    <div class="clearfix"></div>

    <div class="separator"></div>
</form>
