<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><b> Xem chi tiết thông tin sản phẩm  </b></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="form-suasp" method="post" action="/admin/edit-product" class="form-horizontal form-label-left" novalidate="" enctype="multipart/form-data">
                        <h2 style="margin-left: 9%; color:red;"> Thông tin sản phẩm </h2>
                        <!-- Tên sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tensp"> Tên sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.productName}}" id="tensp" name="tensp" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Hãng sản xuất -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Hansanxuat"> Hãng sản xuất
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.maker.nameMaker}}" id="Hansanxuat" name="Hansanxuat" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Giá bán -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="giaban"> Giá bán
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.price}}" id="giaban" name="giaban" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Số lượng -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="soluong"> Số lượng
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.quantity}}" id="soluong" name="soluong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <h2 style="margin-left: 10%; color:red;"> Thông số kỹ thuật </h2>
                        <!-- Kích thước sản phẩm -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kichthuocsp"> Kích thước sản phẩm
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.size}}" id="kichthuocsp" name="kichthuocsp" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Kích thước màn hình -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kichthuocmh"> Kích thước màn hình
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.monitor}}" id="kichthuocmh" name="kichthuocmh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Hệ điều hành -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hedieuhanh"> Hệ điều hành
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.operatingSystem}}" id="hedieuhanh" name="hedieuhanh" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Vi xử lý -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vixuly"> Vi xử lý
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.cpu}}" id="vixuly" name="vixuly" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Bộ nhớ trong -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhotrong"> Bộ nhớ trong
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.internalMemory}}" id="bonhotrong" name="bonhotrong" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- RAM -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bonhoram"> Bộ nhớ RAM
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.ram}}" id="bonhoram" name="bonhoram" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera trước -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cameratruoc"> Camera trước
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.frontCamera}}" id="cameratruoc" name="cameratruoc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Camera sau -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="camerasau"> Camera sau
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.backCamera}}" id="camerasau" name="camerasau" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Dung lượng pin -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dungluongpin"> Dung lượng pin
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input {{input}} type="text" value="{{product.specification.pin}}" id="dungluongpin" name="dungluongpin" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <!-- Ảnh minh họa -->
                        <div class="form-group">
                            <label for="anhminhhoa1" class="control-label col-md-3 col-sm-3 col-xs-12">Ảnh minh họa
                            </label>
                            <div class="img-responsive">
                                <img width="100" height="100" src="{{product.imgMain}}" alt="Main image">
                                <img width="100" height="100" src="{{product.imgExtra1}}" alt="Sub image">
                                <img width="100" height="100" src="{{product.imgExtra2}}" alt="Sub image">
                                <img width="100" height="100" src="{{product.imgExtra3}}" alt="Sub image">
                            </div>
                            {{#if input}}
                            {{else}}
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input {{input}} type="file" accept=".jpg" id="anhminhhoa1" name="anhminhhoa1" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                    <input {{input}} type="file" accept=".jpg" id="anhminhhoa2" name="anhminhhoa2" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                    <input {{input}} type="file" accept=".jpg" id="anhminhhoa3" name="anhminhhoa3" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                    <input {{input}} type="file" accept=".jpg" id="anhminhhoa4" name="anhminhhoa4" class="col-md-7 col-xs-12" style="margin-left:-10px;margin-top:5px" required="required">
                                </div>
                            </div>
                            {{/if}}
                        </div>

                        <!-- Kết thúc form -->
                        <div class="ln_solid"></div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">-->
                            <!--<button type="submit" class="btn btn-primary">Thêm mới</button>-->
                            <!--<button class="btn btn-warning" type="reset">Reset</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="/admin/product-view" class="btn btn-info">Quay lại</a>
                                <a onclick="deleteProduct()" class="btn btn-warning">Xóa sản phẩm</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="form-delete-product" method="post" action="/admin/delete-product">
    <input name="id" type="hidden" value="{{product._id}}">
</form>
<script>
    function deleteProduct() {
        if (confirm("Xác nhận xóa sản phẩm") == true) {
            document.getElementById("form-delete-product").submit();
        }
    }
</script>