<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><b> Danh sách sản phẩm </b></h2>
                    <div class="clearfix"></div>
                </div>

                <!-- <div class="col-md-2">
                    <p> image view </p>
                </div>
                <div class="col-md-5">
                    <p> Tên sản phẩm </p>
                    <p> Hãng sản xuất </p>
                </div>
                <div class="col-md-1">
                    <label> Mức giá </label>
                    <br>
                    <label> Số lượng  </label>
                </div>
                <div class="col-md-2">
                    <input type="text"> </input>
                    <br>
                    <input type="text"> </input>
                </div>
                <div class="col-md-2">
                    <a style="width:40px;" class="btn btn-info mycustombtn"><i class="fa fa-info"></i></a>
                    <a style="width:40px;" class="btn btn-primary mycustombtn"> <i class="fa fa-pencil-square-o"></i></a>
                    <button style="width:40px;" class="btn btn-warning mycustombtn"> <i class="fa fa-trash"></i></button>
                </div> -->


                {{# each products}}
                <div class="col-md-55">
                <div class="thumbnail">
                <div class="image view view-first">
                <img src="{{this.imgMain}}" alt="image">
                </div>
                <div class="caption">
                <p><b> {{ this.productName }} </b></p>
                <p> Giá: {{ this.price }} VND</p>
                <div class="btn-group">
                <a class="btn btn-info" href="/admin/product-detail/{{ this._id }}">Chi tiết</button></a>
                <a class="btn btn-warning" href="/admin/edit-product/{{ this._id }}">Sửa</button></a>
                </div>
                </div>
                </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
