<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3> Quản lý đơn hàng</h3>
            </div>
            <div class="title_right">
                <div style="padding-top: 10px" class="btn-group col-md-offset-5">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">Sắp xếp <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/admin/view-order">Mặc định</a>
                        </li>
                        <li><a href="/admin/view-order?sort=price&by=asc">Giá tăng dần</a>
                        </li>
                        <li><a href="/admin/view-order?sort=price&by=desc">Giá giảm dần</a>
                        </li>
                        <li><a href="/admin/view-order?sort=date&by=asc">Ngày tăng dần</a>
                        </li>
                        <li><a href="/admin/view-order?sort=price&by=desc">Ngày giảm dần</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    <form method="post" action="search-order">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="Mã đơn hàng">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Tìm kiếm</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Mã đơn hàng</th>
                                <th class="column-title">Ngày đặt hàng</th>
                                <th class="column-title">Giá trị</th>
                                <th class="column-title">Người đặt hàng</th>
                                <th class="column-title">Trạng thái</th>
                                <th class="column-title no-link last"><span class="nobr"></span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                            class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {{# each orders}}
                            <tr class="even pointer">
                                <td class=" ">{{this._id}}</td>
                                <td class=" ">{{formatDate this.date}}</td>
                                <td class=" ">{{this.cart.totalPrice}} VNĐ</td>
                                <td class=" ">{{this.user.email}}</td>
                                {{#ifCond this.status '==' 'PROCESSING'}}
                                    <td><button class="btn btn-warning">Đang xử lý</button></td>
                                {{/ifCond}}
                                {{#ifCond this.status '==' 'CANCEL'}}
                                    <td><button class="btn btn-danger">Hủy bỏ</button></td>
                                {{/ifCond}}
                                {{#ifCond this.status '==' 'TRANSFER'}}
                                    <td><button class="btn btn-info">Đã được chuyển đi</button></td>
                                {{/ifCond}}
                                {{#ifCond this.status '==' 'COMPLETE'}}
                                    <td><button class="btn btn-success">Đã giao hàng</button></td>
                                {{/ifCond}}
                                <td class=" last"><a href="/admin/view-order-detail/{{this._id}}">Xem chi tiết</a>
                                </td>
                            </tr>
                            {{/each}}

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>