<script type="text/javascript">
    function changeProcessing() {
        document.getElementById('status').value = 'PROCESSING';
        document.getElementById('form-change-status').submit();
    };
    function changeCancel() {
        document.getElementById('status').value = 'CANCEL';
        document.getElementById('form-change-status').submit();
    };
    function changeTransfer() {
        document.getElementById('status').value = 'TRANSFER';
        document.getElementById('form-change-status').submit();
    };
    function changeComplete() {
        document.getElementById('status').value = 'COMPLETE';
        document.getElementById('form-change-status').submit();
    };
</script>

<form id="form-change-status" method="post" action="/admin/update-status-order">
    <input name="idOrder" id="idOrder" type="hidden" value="{{order._id}}"/>
    <input name="status" id="status" type="hidden" />
</form>

<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3 style="display: inline;margin-right: 20px"> Thông tin đơn hàng <strong>{{order._id}}</strong></h3>
                <div class="btn-group" style="margin-bottom: 10px">
                        {{#ifCond order.status '==' 'PROCESSING'}}
                        <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle btn-sm" type="button" aria-expanded="false">
                            Đang xử lý
                            <span class="caret"></span>
                        </button>
                        {{/ifCond}}
                        {{#ifCond order.status '==' 'CANCEL'}}
                            <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle btn-sm" type="button" aria-expanded="false">
                                Hủy bỏ
                                <span class="caret"></span>
                            </button>
                        {{/ifCond}}
                        {{#ifCond order.status '==' 'TRANSFER'}}
                            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle btn-sm" type="button" aria-expanded="false">
                                Đã được chuyển đi
                                <span class="caret"></span>
                            </button>
                        {{/ifCond}}
                        {{#ifCond order.status '==' 'COMPLETE'}}
                            <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-sm" type="button" aria-expanded="false">
                                Đã giao hàng
                                <span class="caret"></span>
                            </button>
                        {{/ifCond}}
                    <ul role="menu" class="dropdown-menu">
                        <li><a onclick="changeProcessing()" href="#">Đang xử lý</a>
                        </li>
                        <li><a onclick="changeTransfer()" href="#">Đã được chuyển đi</a>
                        </li>
                        <li><a onclick="changeComplete()" href="#">Đã giao hàng</a>
                        </li>
                        <li><a onclick="changeCancel()" href="#">Hủy bỏ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Thông tin người đặt hàng </h2>
                        <sub style="margin-left: 10px"><b><a href="#"> Xem chi tiết</a></b></sub>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th style="width:20%">Họ tên:</th>
                                    <td>{{order.user.fullname}}</td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>{{# if order.user.gender}}Nam{{else}}Nữ{{/if}}</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ giao hàng</th>
                                    <td>{{order.address}}</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td>{{order.user.phone}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{order.user.email}}</td>
                                </tr>
                                <tr>
                                    <th>Ngày đặt hàng</th>
                                    <td>{{order.date}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Danh sách sản phẩm</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title"> Sản phẩm</th>
                                    <th class="column-title"> Tên sản phẩm</th>
                                    <th class="column-title"> Số lượng</th>
                                    <th class="column-title"> Giá 1 sản phẩm</th>
                                    <th class="column-title"> Chi phí</th>
                                </tr>
                                </thead>

                                <tbody>
                                {{# each order.cart.items}}
                                    <tr class="even pointer">
                                        <td class=" "><img width="60" src="{{this.item.imgMain}}" alt=""/></td>
                                        <td class=" ">{{this.item.productName}}</td>
                                        <td class=" ">{{this.qty}}</td>
                                        <td class=" ">{{this.item.price}} VNĐ</td>
                                        <td>{{this.price}} VNĐ</td>
                                        </td>
                                    </tr>
                                {{/each}}

                                <tr>
                                    <td colspan="4" style="text-align:right"><strong>Thành tiền: </strong></td>
                                    <td><strong> {{order.cart.totalPrice}} VNĐ</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>