<div  id="footerSection">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h5>QUẢN LÝ TÀI KHOẢN</h5>
        <a href="/login">THÔNG TIN TÀI KHOẢN</a>
        <a href="/login">LỊCH SỬ MUA HÀNG</a>
      </div>
      <div class="span3">
        <h5>THÔNG TIN</h5>
        <a href="/contact">LIÊN HỆ</a>
        <a href="/register">ĐĂNG KÝ TÀI KHOẢN</a>
      </div>
      <div class="span3">
        <h5>DỊCH VỤ</h5>
        <a href="/productsview">SẢN PHẨM MỚI</a>
        <a href="/productsview">SẢN PHẨM HOT</a>
        <!-- SPECIAL OFFER, DỊCH K ĐƯỢC NÊN ĐẺ VẦY -->
        <a href="/special_offers">KHUYẾN MÃI ĐẶC BIỆT</a>
      </div>
      <div id="socialMedia" class="span3 pull-right">
        <h5>TRANG XÃ HỘI </h5>
        <a href="#"><img width="60" height="60" src="/themes/images/facebook.png"
           title="facebook" alt="facebook"/></a>
        <a href="#"><img width="60" height="60" src="/themes/images/twitter.png"
           title="twitter" alt="twitter"/></a>
        <a href="#"><img width="60" height="60" src="/themes/images/youtube.png"
           title="youtube" alt="youtube"/></a>
      </div>
    </div>
  </div><!-- Container End -->
</div>
