<div id="header">
    <div class="container">
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="/"><img src="/themes/images/logo.png" alt="Bootsshop"/></a>
                <form class="form-inline navbar-search" method="post" action="/search-product">
                    <input name="keyword" class="srchTxt" type="text" placeholder="Nhập nội dung..."
                           value="{{keyword}}"/>
                    <select class="srchTxt" name="maker" id="maker" onchange="saveValue(this)">
                        <option value="all">Tất cả các hãng</option>
                        {{# each makers}}
                            <option value="{{this._id}}">{{this.nameMaker}} </option>
                        {{/each}}
                    </select>
                    <select class="srchTxt" name="price" id="price" onchange="saveValue(this)">
                        <option value="all">Tất cả mức giá</option>
                        <option value="less1">Dưới 1 triệu</option>
                        <option value="1-3">Từ 1 - 3 triệu</option>
                        <option value="3-7">Từ 3 - 7 triệu</option>
                        <option value="7-10">Từ 7 - 10 triệu</option>
                        <option value="more10">Trên 10 triệu</option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Tìm kiếm</button>
                </form>
                <script type="text/javascript">
                    document.getElementById("maker").value = getSavedValue("maker");    // set the value to this input
                    document.getElementById("price").value = getSavedValue("price");   // set the value to this input
                    /* Here you can add more inputs to set value. if it's saved */

                    //Save the value function - save it to localStorage as (ID, VALUE)
                    function saveValue(e) {
                        var id = e.id;  // get the sender's id to save it .
                        var val = e.value; // get the value.
                        localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
                    }

                    //get the saved value function - return the value of "v" from localStorage.
                    function getSavedValue(v) {
                        if (localStorage.getItem(v) === null) {
                            return "all";// You can change this to your defualt value.
                        }
                        return localStorage.getItem(v);
                    }
                </script>
                <div id="topMenu" class="pull-right">
                        {{#if user}}
                            <!-- <a href="#" title="Xem thông tin cá nhân">
                                <i class="icon icon-user"></i> nnthienbao
                            </a>
                            <a href="/logout">
                                Log out
                            </a> -->
                            <div class="btn-group">
                                <button style="margin-top: 17px;" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Tài khoản <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile">Xem thông tin cá nhân</a></li>
                                    <li><a href="/order-history">Xem lịch sử mua hàng</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        {{else}}
                        <!-- Nút đăng nhập góc trên bên phải -->
                        <div style="margin-top:8px;">
                            <a href="/login" role="button" style="padding-right:0;">
                                <span class="btn btn-success">Đăng nhập</span></a>
                        </div>
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
