<div id="sidebar" class="span3">
    {{#if session.cart}}
  <div class="well well-small">
    <a id="myCart" href="/product-summary">
      <img src="/themes/images/ico-cart.png" alt="cart"> Mua {{session.cart.totalQty}} sản phẩm</img>
      <span class="badge badge-warning pull-right">{{session.cart.totalPrice}} VNĐ</span>
    </a>
  </div>
      {{/if}}
  <ul id="sideManu" class="nav nav-tabs nav-stacked">
    <li class="active"><a> HÃNG ĐIỆN THOẠI </a>
        <ul>
            <li><a class="active" href="/productsview/all?page=1"><i class="icon-chevron-right"></i> Tất cả các hãng </a></li>
            {{# each makers}}
                <li><a href="/productsview/{{this._id}}?page=1"><i class="icon-chevron-right"></i> {{this.nameMaker}} </a></li>
            {{/each}}
        </ul>
    </li>
    <li class="active"><a> MỨC GIÁ </a>
      <ul>
        <li><a href="/productsview/all?price=less1&page=1"><i class="icon-chevron-right"></i> Dưới 1 triệu </a></li>
        <li><a href="/productsview/all?price=1-3&page=1"><i class="icon-chevron-right"></i> Từ 1 - 3 triệu </a></li>
        <li><a href="/productsview/all?price=3-7&page=1"><i class="icon-chevron-right"></i> Từ 3 - 7 triệu </a></li>
        <li><a href="/productsview/all?price=7-10&page=1"><i class="icon-chevron-right"></i> Từ 7 - 10 triệu </a></li>
        <li><a href="/productsview/all?price=more10&page=1"><i class="icon-chevron-right"></i> Trên 10 triệu </a></li></ul>
    </li>
  </ul>
</div>
