<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đổi mật khẩu</li>
    </ul>

    <h3> Đổi mật khẩu</h3>
    <hr class="soft"/>

    <div class="row">

        <div class="span9">
            {{# if success}}
            <div class="alert alert-success">
                <p>Đổi mật khẩu thành công</p>
            </div>
            {{/if}}
            {{# if hasError}}
                <div class="alert alert-danger">
                    {{# each messages}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <!-- Form đổi mật khẩu -->
            <div class="well">
                <form class="form-horizontal" method="post" action="/change-password">
                    <div class="control-group">
                        <label class="control-label" for="newpassword">Nhập mật khẩu mới <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" id="newpassword" name="newpassword"
                                   placeholder="Mật khẩu mới" required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="renewpassword">Nhập lại mật khẩu mới <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" id="renewpassword" name="renewpassword"
                                   placeholder="Nhập lại mật khẩu mới" required="true"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="hidden" name="email_create" value="1">
                            <input type="hidden" name="is_new_customer" value="1">
                            <input class="btn btn-large btn-warning" type="submit" value="Đổi mật khẩu"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        &nbsp;
    </div>
</div>
