<div class="span9">
  <ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">So sánh sản phẩm</li>
  </ul>
  <h3> So sánh sản phẩm </h3>
  <hr class="soft"/>

  <table id="compairTbl" class="table table-bordered">
    <thead>
      <tr>
      <th>Đặc điểm</th>
      <th>Tên sản phẩm 1 </th>
      <th>Tên sản phẩm 2</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align:center">
          <p class="justify"> Mô tả sản phẩm </p>
          <img src="themes/images/products/1.jpg" alt=""/>
          <form class="form-horizontal qtyFrm">
            <h3> $222.00</h3>
            <br/>
            <a href="#" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
            <a href="#" class="btn btn-large"><i class="icon-zoom-in"></i></a>
          </form>
        </td>
        <td>
          <p class="justify"> Mô tả sản phẩm 02 </p>
          <img src="themes/images/products/3.jpg" alt=""/>
          <form class="form-horizontal qtyFrm">
            <h3> $190.00</h3>
            <br/>
            <a href="#" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
            <a href="#" class="btn btn-large"><i class="icon-zoom-in"></i></a>
          </form>
        </td>
      </tr>

      <tr>
        <td>Height</td>
        <td>2"</td>
        <td>2"</td>
      </tr>

      <tr>
        <td>Deepth</td>
        <td>5"</td>
        <td>5"</td>
        </tr>
      <tr>
      <td>Dimension</td>
      <td>--</td>
      <td>--</td>
      </tr>

      <tr>
        <td>Width</td>
        <td>6.5"</td>
        <td>6.5"</td>
      </tr>

      <tr>
        <td>Weight</td>
        <td>0.5kg</td>
        <td>0.5kg</td>
      </tr>
    </tbody>
  </table>
  <a href="/productsview" class="btn btn-large pull-right">Quay lại mua hàng</a>
</div>
