<div id="mainBody">
  <div class="container">
    <!-- <hr class="soften">
    <h1>Thông tin liên hệ</h1>
    <hr class="soften"/> -->

    <div class="row">
      <!-- Khối thông tin liên hệ -->
      <div class="span4">
        <h4>Thông tin liên hệ</h4>
        <p>	18 Fresno,<br/> CA 93727, USA
        <br/><br/>
        info@bootsshop.com<br/>
        ﻿Tel 123-456-6780<br/>
        Fax 123-456-5679<br/>
        web:bootsshop.com
        </p>
      </div>

      <!-- Khối thời gian mở cửa -->
      <div class="span4">
        <h4>Thời gian mở cửa</h4>
        <h5> Monday - Friday</h5>
        <p>09:00 sáng - 09:00 tối<br/><br/></p>
        <h5>Saturday</h5>
        <p>09:00 sáng - 07:00 tối<br/><br/></p>
        <h5>Chủ nhật</h5>
        <p>12:30 chiều - 06:00 tối<br/><br/></p>
      </div>

      <!-- Khối email -->
      <div class="span4">
        <h4>Gửi thông tin qua email</h4>
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <input type="text" placeholder="Tên người gửi" class="input-xlarge"/>
            </div>
            <div class="control-group">
              <input type="text" placeholder="Địa chỉ email" class="input-xlarge"/>
            </div>
            <div class="control-group">
              <input type="text" placeholder="Chủ đề" class="input-xlarge"/>
            </div>
            <div class="control-group">
              <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
            </div>
            <button class="btn btn-large" type="submit">Gửi email</button>
          </fieldset>
        </form>
      </div>
    </div>

    <!-- Khối bản đồ -->
    <div class="row">
      <div class="span12">
        <!-- <iframe style="width:100%; height:300; border: 0px" scrolling="no"
                src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14&amp;output=embed">
        </iframe> -->
        <iframe style="width:100%; height:300; border: 0px" scrolling="no"
                src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18+California,+Fresno,+CA,+United+States&amp;aq=0&amp;oq=18+California+united+state&amp;sll=39.9589,-120.955336&amp;sspn=0.007114,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=18,+Fresno,+California+93727,+United+States&amp;t=m&amp;ll=36.732762,-119.695787&amp;spn=0.017197,0.100336&amp;z=14&amp;output=embed">
        </iframe>
        <br>
      </div>
    </div>
  </div>
</div>
