<div class="span9">
{{#if success}}
    <h5 class="alert alert-success">Xác thực tài khoản thành công</h5>
{{else}}
    <h5 class="alert alert-danger">Xin mời kiểm tra email để xác thực tài khoản</h5>
{{/if}}
</div>
