<div class="span9">
  <ul class="breadcrumb">
    <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
    <li class="active">Quên mật khẩu?</li>
  </ul>
  <h3> QUÊN MẬT KHẨU?</h3>
  <hr class="soft"/>

  <div class="row">
    <div class="span9" style="min-height:900px">
      <div class="well">
        <h5>Đặt lại mật khẩu</h5><br/>
        Vui lòng nhập lại email bạn đang sử dụng cho tài khoản này. Chúng tôi sẽ gửi một mã chứng thực vào
        email này.
        <br>
        Khi bạn nhận được mã chứng thực, bạn sẽ có thể tạo lại mật khẩu mới cho tài khoản!
        <br/><br/><br/>
        <form>
          <div class="control-group">
            <label class="control-label" for="inputEmail1">Địa chỉ email</label>
            <div class="controls">
            <input class="span3"  type="text" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="controls">
            <button type="submit" class="btn block">Xác nhận email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
