<!-- body -->
<div class="span9">
    <!-- Sản phẩm đặc biệt, hot -->
    <div class="well well-small">
        <h4>Sản phẩm bán chạy </h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    {{# each topSellChunks as |item index|}}
                    <div class="item {{#ifCond index '==' 0}}active{{/ifCond}}">
                        <ul class="thumbnails">
                            {{# each this}}
                            <li class="span3">
                                <div class="thumbnail">
                                    <!-- Hình ảnh sản phẩm -->
                                    <a href="/product-detail?id={{this._id}}"><img src="{{this.imgMain}}" alt=""/></a>
                                    <div class="caption">
                                        <h5>{{this.productName}}</h5>
                                        <h4 style="text-align:center">
                                            <a class="btn btn-primary" href="#">{{this.price}} VNĐ</a>
                                        </h4>
                                        <h4 style="text-align:center">
                                            <a class="btn" href="/add-to-cart/{{this._id}}">Thêm vào giỏ hàng
                                                <i class="icon-shopping-cart"></i></a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <!-- Sản phẩm mới nhất -->
    <div class="well well-small">
        <h4>Sản phẩm mới nhất </h4>
        <div class="row-fluid">
            <div id="featured2" class="carousel slide">
                <div class="carousel-inner">
                    {{# each newProducts as |item index|}}
                        <div class="item {{#ifCond index '==' 0}}active{{/ifCond}}">
                            <ul class="thumbnails">
                                {{# each this}}
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <!-- Hình ảnh sản phẩm -->
                                            <a href="/product-detail?id={{this._id}}"><img src="{{this.imgMain}}" alt=""/></a>
                                            <div class="caption">
                                                <h5>{{this.productName}}</h5>
                                                <h4 style="text-align:center">
                                                    <a class="btn btn-primary" href="#">{{this.price}} VNĐ</a>
                                                </h4>
                                                <h4 style="text-align:center">
                                                    <a class="btn" href="/add-to-cart/{{this._id}}">Thêm vào giỏ hàng
                                                        <i class="icon-shopping-cart"></i></a>
                                                </h4>
                                            </div>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
                <a class="left carousel-control" href="#featured2" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured2" data-slide="next">›</a>
            </div>
        </div>
    </div>
</div>
