<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đăng nhập</li>
    </ul>

    <h3> Đăng nhập</h3>
    <hr class="soft"/>

    <div class="row">

        <div class="span9">

            {{# if errorLogin}}
                <div class="alert alert-danger">
                    <p>{{errorLogin}}</p>
                </div>
            {{/if}}
            <!-- Form đăng nhập -->
            <div class="well">
                <form class="form-horizontal" method="post" action="/login">
                    <div class="control-group">
                        <label class="control-label" for="email">Email <sup>*</sup></label>
                        <div class="controls">
                            <input type="text" id="email" name="email" value="{{email}}" placeholder="Email"
                                   required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Mật khẩu <sup>*</sup></label>
                        <div class="controls">
                            <input type="password" id="password" name="password" value="{{password}}"
                                   placeholder="Mật khẩu" required="true">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="hidden" name="email_create" value="1">
                            <input type="hidden" name="is_new_customer" value="1">
                            <input class="btn btn-large btn-success" type="submit" value="Đăng nhập"/>
                        </div>
                    </div>
                    <div class="controls">
                        <a href="forgetpass">Quên mật khẩu?</a>
                        <a href="register">Đăng ký tài khoản!</a>
                    </div>
                </form>
            </div>
        </div>
        &nbsp;
    </div>
</div>
