<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Thông tin đơn hàng</li>
    </ul>
    <h3> Thông tin đơn hàng <span style="color: #1e9d43"> {{order._id}}</span></h3>
    <hr class="soft"/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá 1 sản phẩm</th>
            <th>Chi phí</th>
        </tr>
        </thead>
        <tbody>
        <!-- Mỗi một sản phẩm trong giỏ hàng sẽ có dạng như bên dưới -->
        {{# each order.cart.items}}
            <tr>
                <td><img width="60" src="{{this.item.imgMain}}" alt=""/></td>
                <td>{{this.item.productName}}</td>
                <td>
                    {{this.qty}}
                </td>
                <td>{{this.item.price}} VNĐ</td>
                <td>{{this.price}} VNĐ</td>
            </tr>
        {{/each}}
        <!-- Kết thúc một sản phẩm trong giỏ hàng -->

        <tr>
            <td colspan="4" style="text-align:right"><strong>Thành tiền </strong></td>
            <td style="display:block"><strong> {{order.cart.totalPrice}} VNĐ</strong></td>
        </tr>
        </tbody>
    </table>
</div>
