<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Lịch sử giao dịch</li>
    </ul>
    {{# if orders}}
        <h3> Lịch sử giao dịch</h3>
        <hr class="soft"/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Mã giao dịch</th>
                <th>Ngày</th>
                <th>Tổng giá trị</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <!-- Một phiên giao dịch-->
            {{# each orders}}
                <tr>
                    <td><a style="color: #1e9d43;text-decoration: underline" href="/order-detail/{{this._id}}">{{this._id}}</a></td>
                    <td>{{formatDate this.date}}</td>
                    <td>{{this.cart.totalPrice}} VNĐ</td>
                    {{#ifCond this.status '==' 'PROCESSING'}}
                        <td><button class="btn btn-warning">Đang xử lý</button></td>
                    {{/ifCond}}
                    {{#ifCond this.status '==' 'CANCEL'}}
                        <td><button class="btn btn-danger">Hủy bỏ</button></td>
                    {{/ifCond}}
                    {{#ifCond this.status '==' 'TRANSFER'}}
                        <td><button class="btn btn-info">Đã được chuyển đi</button></td>
                    {{/ifCond}}
                    {{#ifCond this.status '==' 'COMPLETE'}}
                        <td><button class="btn btn-success">Đã giao hàng</button></td>
                    {{/ifCond}}
                </tr>
            {{/each}}
            <!-- /Một phiên giao dịch-->
            </tbody>
        </table>
    {{else}}
        <h1><small>Không tìm thấy lịch sử giao dịch</small></h1>
    {{/if}}
</div>
