<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Giỏ hàng</li>
    </ul>
    {{# if items}}
    <h3> GIỎ HÀNG [
        <small>{{session.cart.totalQty}} Sản phẩm</small>
        ]
    </h3>
    <hr class="soft"/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá 1 sản phẩm</th>
            <th>Chi phí</th>
        </tr>
        </thead>
        <tbody>
        <!-- Mỗi một sản phẩm trong giỏ hàng sẽ có dạng như bên dưới -->
        {{# each items}}
        <tr>
            <td><img width="60" src="{{this.item.imgMain}}" alt=""/></td>
            <td>{{this.item.productName}}</td>
            <td>
                <div class="input-append">
                    <input class="span1" style="max-width:34px" value="{{this.qty}}" id="appendedInputButtons" size="16"
                           type="text">
                    <a href="/reduce/{{this.item._id}}" class="btn" type="button"><i class="icon-minus"></i></a>
                    <a href="/increase/{{this.item._id}}" class="btn" type="button"><i class="icon-plus"></i></a>
                    <a href="/remove/{{this.item._id}}" class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></a>
                </div>
            </td>
            <td>{{this.item.price}} VNĐ</td>
            <td>{{this.price}} VNĐ</td>
        </tr>
        {{/each}}
        <!-- Kết thúc một sản phẩm trong giỏ hàng -->

        <tr>
            <td colspan="4" style="text-align:right"><strong>Thành tiền </strong></td>
            <td class="label label-important" style="display:block"><strong> {{totalPrice}} VNĐ</strong></td>
        </tr>
        </tbody>
    </table>

    <form method="post" action="/order">
        <table class="table table-bordered">
            <tr>
                <th>Thông tin giao hàng</th>
            </tr>
            <tr>
                <td>
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputCountry">Địa chỉ </label>
                            <div class="controls">
                                <input type="text" value="{{user.address}}" name="address" id="address" placeholder="Địa chỉ" required="true">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPost">Số điện thoại </label>
                            <div class="controls">
                                <input type="text" value="{{user.phone}}" name="phone" id="phone" placeholder="Số điện thoại" required="true">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-large pull-right">Thanh toán <i class="icon-arrow-right"></i></button>
    </form>
    {{else}}
        <h1><small>Không có sản phẩm để thanh toán</small></h1>
    {{/if}}
</div>
