<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Sản phẩm</li>
    </ul>
    <h3> Danh sách sản phẩm
        <small class="pull-right"> {{totalProduct}} sản phẩm phù hợp</small>
    </h3>
    <hr class="soft"/>

    <br class="clr"/>


    <div class="tab-content">
        <!-- Xem sản phẩm dưới dạng khối -->
        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                {{# each products}}
                <li class="span3">
                    <!-- 1 khối sẽ có dạng như bên dưới -->
                    <div class="thumbnail">
                        <!-- Hình ảnh sản phẩm -->
                        <a href="/product-detail?id={{this._id}}"><img src="{{this.imgMain}}" alt=""/></a>
                        <div class="caption">
                            <h5>{{this.productName}}</h5>
                            <h4 style="text-align:center">
                                <a class="btn btn-primary" href="#">{{this.price}} VNĐ</a>
                            </h4>
                            <h4 style="text-align: center">
                                <a class="btn" href="/add-to-cart/{{this._id}}">Thêm vào giỏ hàng
                                    <i class="icon-shopping-cart"></i></a>
                            </h4>
                        </div>
                    </div>
                    <!-- Kết thúc 1 khối -->
                </li>
                {{/each}}
            </ul>
            <hr class="soft"/>
        </div>
    </div>

    <a href="/compareproducts" class="btn btn-large pull-right">So sánh sản phẩm</a>
    {{# ifCond totalPage '>' 1}}
    <div class="pagination">
        <ul>
            {{# ifCond currentPage '>' 1}}
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page=1">Đầu</a></li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math currentPage '-' 1}}">&lsaquo;</a></li>
            {{/ifCond}}

            {{# ifCond (math currentPage '+' 4) '<=' totalPage}}
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{currentPage}}">{{currentPage}}</a></li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math currentPage '+' 1}}">{{math currentPage '+' 1}}</a>
                </li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math currentPage '+' 2}}">{{math currentPage '+' 2}}</a>
                </li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math currentPage '+' 3}}">{{math currentPage '+' 3}}</a>
                </li>
            {{else}}
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math totalPage '-' 3}}">{{math totalPage '-' 3}}</a>
                </li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math totalPage '-' 2}}">{{math totalPage '-' 2}}</a>
                </li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math totalPage '-' 1}}">{{math totalPage '-' 1}}</a>
                </li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{totalPage}}">{{totalPage}}</a></li>
            {{/ifCond}}

            {{# ifCond currentPage '<' totalPage}}
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{math currentPage '+' 1}}">&rsaquo;</a></li>
                <li><a href="/productsview/{{idMaker}}?{{#if keyword}}keyword={{keyword}}{{/if}}{{#if filterPrice}}&price={{filterPrice}}{{/if}}&page={{totalPage}}">Cuối</a></li>
            {{/ifCond}}
        </ul>
    </div>
    {{/ifCond}}
    <br class="clr"/>
</div>
