<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="/productsview">Sản phẩm</a> <span class="divider">/</span></li>
        <li class="active">Thông tin sản phẩm</li>
    </ul>

    <div class="row">
        <div id="gallery" class="span3">
            <a href="{{product.imgMain}}" title="{{product.productName}}">
                <img src="{{product.imgMain}}" style="width:100%"
                     alt="{{product.productName}}"/>
            </a>
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="{{product.imgExtra1}}"> <img style="width:29%" src="{{product.imgExtra1}}" alt=""/></a>
                        <a href="{{product.imgExtra1}}"> <img style="width:29%" src="{{product.imgExtra1}}" alt=""/></a>
                        <a href="{{product.imgExtra1}}"> <img style="width:29%" src="{{product.imgExtra1}}" alt=""/></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="span6">
            <h3> {{product.productName}} </h3>
            <hr class="soft"/>
            <form class="form-horizontal qtyFrm">
                <div class="control-group">

                    <label class="control-label"><span>Giá: <b style="color:red;">{{product.price}} <span style="color: #00b3ee"><small>VNĐ</small></span></b> </span></label>
                    <div class="controls">
                        <a href="/add-to-cart/{{product._id}}" type="submit" class="btn btn-primary pull-right">
                            Thêm sản phẩm vào giỏ hàng <i class=" icon-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </form>
            <hr class="soft"/>

            <h4>Hiện còn <span style="color:red;"> {{product.quantity}} </span> sản phẩm</h4>

        </div>

        <!-- Thông tin của sản phẩm hiện tại -->
        <div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Thông tin sản phẩm</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <h4>Chi tiết cấu hình</h4>

                    <!-- Bảng thông số -->
                    <table class="table table-bordered">
                        <tbody>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Tên sản phẩm</td>
                            <td class="techSpecTD2">{{product.productName}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Hãng sản xuất</td>
                            <td class="techSpecTD2">{{product.maker.nameMaker}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Mức giá</td>
                            <td class="techSpecTD2">{{product.price}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Kích thước sản phẩm</td>
                            <td class="techSpecTD2">{{product.specification.size}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Kích thước màn hình</td>
                            <td class="techSpecTD2">{{product.specification.monitor}}</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Hệ điều hành</td>
                            <td class="techSpecTD2">{{product.specification.operatingSystem}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Vi xử lý</td>
                            <td class="techSpecTD2">{{product.specification.cpu}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Bộ nhớ trong</td>
                            <td class="techSpecTD2">{{product.specification.internalMemory}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Camera trước</td>
                            <td class="techSpecTD2">{{product.specification.frontCamera}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Camera sau</td>
                            <td class="techSpecTD2">{{product.specification.backCamera}}</td>
                        </tr>

                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Dung lượng pin</td>
                            <td class="techSpecTD2">{{product.specification.pin}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Kết thúc bảng thông số -->
                </div>
            </div>
        </div>
    </div>
</div>