<div class="span9">
    {{#if message}}
        <p class="alert alert-success">Cập nhật thông tin thành công</p>
    {{/if}}
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Thông tin cá nhân</li>
    </ul>
    {{# if hasError}}
        <div class="alert alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <div class="well">
        <div style="padding-left:15%">
            <form class="form-horizontal" method="post" action="/update-profile">
                <h4>Thông tin cá nhân</h4>
                <div class="control-group">
                    <label class="control-label" for="email">Email <sup>*</sup></label>
                    <div class="controls">
                        <input value="{{user.email}}" disabled="true" type="text" id="email" name="email" value="{{email}}" placeholder="Email"
                               required="true">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Mật khẩu <sup>*</sup></label>
                    <div class="controls">
                        <input disabled="true" type="password" id="password" name="password" value="********" placeholder="Mật khẩu"
                               required="true">
                        <a href="/change-password" class="btn btn-info">Đổi mật khẩu</a>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname1">Họ tên <sup>*</sup></label>
                    <div class="controls">
                        <input value="{{user.fullname}}" type="text" id="fullname" name="fullname" value="{{fullname}}" placeholder="Họ tên"
                               required="true">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Giới tính <sup>*</sup></label>
                    <div class="controls">
                        <select class="span1" name="gender">
                            <option {{#if user.gender}}selected="true"{{/if}} value="male">Nam</option>
                            <option {{#if user.gender}}{{else}}selected="true"{{/if}} value="female">Nữ</option>
                        </select>
                    </div>
                </div>

                <h4>Địa chỉ người dùng</h4>
                <div class="control-group">
                    <label class="control-label" for="address">Địa chỉ <sup>*</sup></label>
                    <div class="controls">
                        <textarea required="true" rows="2" name="address" style="resize: none"
                                  placeholder="Số nhà, đường, quận huyện, thành phố">{{user.address}}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mobile">Số điện thoại liên lạc </label>
                    <div class="controls">
                        <input value="{{user.phone}}" type="text" name="phone" id="phone" value="{{phone}}"/>
                    </div>
                </div>
                {{#if edit}}
                <p style="color:red; padding-left:25%"><sup>*</sup> Không được để trống </p>
                {{/if}}

                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="email_create" value="1">
                        <input type="hidden" name="is_new_customer" value="1">
                        <input class="btn btn-large btn-warning" type="submit" value="Cập nhật"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
