<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đăng ký</li>
    </ul>
    <h3> Đăng ký </h3>
    {{# if hasError}}
    <div class="alert alert-danger">
        {{# each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    <div class="well">
        <div style="padding-left:15%">
        <form class="form-horizontal" method="post" action="/register">
            <h4>Thông tin cá nhân</h4>
            <div class="control-group">
                <label class="control-label" for="email">Email <sup>*</sup></label>
                <div class="controls">
                    <input type="text" id="email" name="email" value="{{email}}" placeholder="Email" required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Mật khẩu <sup>*</sup></label>
                <div class="controls">
                    <input type="password" id="password" name="password" value="{{password}}" placeholder="Mật khẩu" required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Nhập lại mật khẩu <sup>*</sup></label>
                <div class="controls">
                    <input type="password" id="repassword" name="repassword" value="{{repassword}}" placeholder="Nhập lại mật khẩu" required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Họ tên <sup>*</sup></label>
                <div class="controls">
                    <input type="text" id="fullname" name="fullname" value="{{fullname}}" placeholder="Họ tên" required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Giới tính <sup>*</sup></label>
                <div class="controls">
                    <select class="span1" name="gender">
                        <option value="male">Nam</option>
                        <option value="female">Nữ</option>
                    </select>
                </div>
            </div>

            <h4>Địa chỉ người dùng</h4>
            <div class="control-group">
                <label class="control-label" for="address">Địa chỉ <sup>*</sup></label>
                <div class="controls">
                    <textarea rows="2" name="address" style="resize: none" placeholder="Số nhà, đường, quận huyện, thành phố">{{address}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mobile">Số điện thoại liên lạc </label>
                <div class="controls">
                    <input type="text" name="phone" id="phone" value="{{phone}}"/>
                </div>
            </div>
            <p style="color:red; padding-left:25%"><sup>*</sup> Không được để trống	</p>

            <div class="control-group">
                <div class="controls">
                    <input type="hidden" name="email_create" value="1">
                    <input type="hidden" name="is_new_customer" value="1">
                    <input class="btn btn-large btn-success" type="submit" value="Đăng ký"/>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
