<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/admin/build/css/custom.min.css" rel="stylesheet">
    <link href="/admin/build/css/custom.css" rel="stylesheet">
    <link rel='stylesheet' href='/admin/stylesheets/style.css'/>
    <script src="/admin/javascripts/myscript.js"></script>
</head>


<body class="nav-md">
{{#if Login}}
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    {{{body}}}
                </section>
            </div>
        </div>
    </div>
{{else}}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin" class="site_title"><i class="fa fa-paw"></i> <span>Mobile shop</span></a>
                    </div>
                    <div class="clearfix"></div>

                    {{#if user}}
                        <!-- menu profile quick info -->
                        <!-- <div class="profile clearfix">
                                <div class="profile_pic">
                                    <img src="/images/avatars/admin.png" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>{{user.username}}</h2>
                                </div>
                            </div> -->
                        <!-- /menu profile quick info -->
                    {{/if}}
                    </br>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li><a href="/admin/product-view"><i class="fa fa-folder"></i> Quản lý sản phẩm </a>
                                </li>
                                <li><a href="/admin/add-new-product"><i class="fa fa-edit"></i> Thêm sản phẩm </a></li>
                                <li><a href="/admin/customer-view"><i class="fa fa-users"></i> Quản lý người dùng </a>
                                </li>
                                <li><a href="/admin/view-order"><i class="fa fa-credit-card"></i> Quản lý đơn hàng </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- kết thúc sidebar menu -->

                </div>
            </div>

            <!-- thanh header -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle"
                                   data-toggle="dropdown" aria-expanded="false">
                                    <img src="/admin/images/avatars/admin.png" alt="">
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="/admin/logout">
                                            <i class="fa fa-sign-out pull-right"></i> Đăng xuất </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- kết thúc thanh header -->


            {{{body}}}


        </div>
    </div>
{{/if}}
<!-- jQuery -->
<script src="/admin/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/admin/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/admin/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/admin/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/admin/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/admin/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/admin/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/admin/vendors/Flot/jquery.flot.js"></script>
<script src="/admin/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/admin/vendors/Flot/jquery.flot.time.js"></script>
<script src="/admin/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/admin/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/admin/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/admin/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/admin/vendors/moment/min/moment.min.js"></script>
<script src="/admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="/admin/build/js/custom.min.js"></script>
</body>
</html>
