﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--Less styles -->
  <!-- Other Less css file //different less files has different color scheam
  <link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
  <link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
  <link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
  -->
  <!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
  <script src="themes/js/less.js" type="text/javascript"></script> -->

  <!-- Bootstrap style -->
  <link id="callCss" rel="stylesheet" href="/themes/bootshop/bootstrap.min.css" media="screen"/>
  <link href="/themes/css/base.css" rel="stylesheet" media="screen"/>
  <!-- Bootstrap style responsive -->
  <link href="/themes/css/bootstrap-responsive.min.css" rel="stylesheet"/>
  <link href="/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
  <!-- Google-code-prettify -->
  <link href="/themes/js/google-code-prettify/prettify.css" rel="stylesheet"/>
  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="/themes/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/themes/images/ico/apple-touch-icon-57-precomposed.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/mycustom.css"/>
  <style type="text/css" id="enject"></style>
</head>



<body>
<!-- header -->
{{> header }}
<!-- Kết thúc header -->

<!-- slide trượt bên dưới header -->
<!--{{#if isIndex}}-->
<!--{{> topslideitem }}-->
<!--{{/if}}-->
<!-- Kết thúc slide trượt -->

<!-- Thân trang web -->
<div id="mainBody">
	<div class="container">
	   <div class="row">
      <!-- Sidebar  -->
      {{#if isContact}}
      {{else}}
      {{> sidebar }}
      {{/if}}

      <!-- Sidebar end -->

      {{{ body }}}
      <!-- Khu vực hiển thị sản phẩm -->

		</div>
	</div>
</div>
<!-- Kết thúc phần thân trang web -->

<!-- Footer  -->
	{{> footer }}



<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="/themes/js/jquery.js" type="text/javascript"></script>
	<script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/themes/js/google-code-prettify/prettify.js"></script>
	<script src="/themes/js/bootshop.js"></script>
  <script src="/themes/js/jquery.lightbox-0.5.js"></script>

<span id="themesBtn"></span>
</body>
</html>
